includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/calebdw/larastan-livewire/extension.neon

parameters:

    paths:
        - app/
        - resources/views/

    # Level 10 is the highest level
    level: 0

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Expression "new class extends \\Livewire\\Volt\\Component.*"#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
