# Name of your application. Used to uniquely configure containers.
service: stave

# Name of the container image.
image: jpangborn/stave

aliases:
  shell: app exec -i --reuse bash

builder:
  arch: amd64
  secrets:
    - COMPOSER_AUTH_JSON_BASE64

# Deploy to these servers.
servers:
  web:
    hosts:
      - 129.212.180.73
  # worker:
  # hosts:
  # - 129.212.180.73
  # cmd: php artisan queue:work --sleep=3 --tries=3 --max-time=3600

# Credentials for your image host.
registry:
  # Specify the registry server, if you're not using Docker Hub
  # server: registry.digitalocean.com / ghcr.io / ...
  username: jpangborn
  password:
    - KAMAL_REGISTRY_PASSWORD

proxy:
  app_port: 8080
  host: stave.pangborn.cloud
  ssl: true
  healthcheck:
    path: /healthcheck

env:
  secret:
    - LARAVEL_ENV_ENCRYPTION_KEY

# Use accessory services (secrets come from .env).
accessories:
  db:
    image: mysql:8.0
    host: 129.212.180.73
    port: 3306
    env:
      clear:
        MYSQL_ROOT_HOST: "%"
      secret:
        - MYSQL_ROOT_PASSWORD
    files:
      - database/init.sql:/docker-entrypoint-initdb.d/setup.sql
    directories:
      - data:/var/lib/mysql
